*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  /* background-color: skyblue; */
}
:root {
  /* --custom name: value; */
  /* --light-green-bg: #476529; */
  /* example, color: var(--navy-clr) */
  --header-clr: rgb(90, 141, 161);
  --nav-clr: #4C5958;
  --main-clr: #BFBFBF;
  --high-pri-clr: #DB2E1A;
  --med-pri-clr: #D6AB0F;
  --low-pri-clr: #10A11C;
  --default-list-clr: #8AA6A3;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0rem;
    border: .25rem solid black;
    background-color: navy;
    color: silver;
    margin-bottom: 1rem;
}
fieldset{
  display: flex;
  flex-direction: column;
}
.form.player-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit-name-btn{
  margin-top: 1rem;
  padding: .5rem;
}
.name-plate, 
.boat-selection-title,
.boat-orientation-title{
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
table, th, td {
  border: 1px solid black;
}
.grid,
.boat-selection,
.boat-orientation{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boat-selection-btns,
.boat-orientation-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .25rem;
}
/* button:hover{
background-color: darkgray;
} */
th, td{
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: 2rem;
}
/* td:hover{
  background-color: gray;
} */

.clicked{
  background-color: orange;
}

.outside-grid{
  cursor: not-allowed;
}

.outside-grid-error{
  background-color: red;
  animation-name: off-grid-error;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes off-grid-error{
  from {background-color: red;}
  to {background-color: white;}
}

.table-class{
  position: relative;
}

.grid{
  position: relative;
}

.click-btns-modal{
  width: 40%;
  height: auto;
  /* margin: auto; */
  background-color: rgb(194, 194, 194);
  background-color: black;
  color: whitesmoke;
  border: 1px solid gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0%;
  padding: 1rem;
}

.show{
  opacity: 100%;
}

.phased-out{
  opacity: 30%;
}

/* 
.no-btn-clicked-error{
  background-color: orange;
  animation-name: no-btn-clicked-error;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes no-btn-clicked-error{
  from {background-color: orange;}
  to {background-color: white;}
} */