*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  /* background-color: skyblue; */
}
:root {
  /* --custom-name: value; */
  /* --light-green-bg: #476529; */
  /* example, color: var(--navy-clr) */
  --primary-clr: #8AA6A3;
  --secondary-clr: #8AA6A3;
  --accent-clr: #8AA6A3;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0rem;
    border: .25rem solid black;
    background-color: navy;
    color: silver;
    margin-bottom: 1rem;
}
fieldset{
  display: flex;
  flex-direction: column;
}
.form.player-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submit-name-btn{
  margin-top: 1rem;
  padding: .5rem;
}
.name-plate,
.computer-name-plate, 
.boat-selection-title,
.boat-orientation-title{
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
table, th, td {
  border: 1px solid black;
}
.grid,
.computer-grid,
.boat-selection,
.boat-orientation{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boat-selection-btns,
.boat-orientation-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .25rem;
}
th, td{
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: 2rem;
}
.clicked{
  background-color: orange;
}
.outside-grid{
  cursor: not-allowed;
}
.outside-grid-error{
  background-color: red;
  animation-name: off-grid-error;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes off-grid-error{
  from {background-color: red;}
  to {background-color: white;}
}
.table-class,
.computer-table-class{
  position: relative;
}
.grid,
.computer-grid{
  position: relative;
}
.click-btns-modal{
  width: 40%;
  height: auto;
  /* margin: auto; */
  background-color: rgb(194, 194, 194);
  background-color: black;
  color: whitesmoke;
  border: 1px solid gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0%;
  padding: 1rem;
  transition-duration: 200ms;
  transition-property: opacity;
}
.show{
  opacity: 100%;
}
.phased-out{
  opacity: 30%;
}
.selected{
  background-color: black;
}
.computer-selected{
  background-color: black;
  color: white;
  /* opacity: 30%; */
}
.computer-clicked{
  background-color: orange;
  cursor: pointer;
}
.computer-cell-targeted{
  background-color: red;
  animation-name: computer-cell-targeted;
  animation-duration: 200ms;
  animation-iteration-count: 11;
  animation-direction: alternate;
}
@keyframes computer-cell-targeted{
  from {background-color: orange;}
  to {background-color: red;}
}
.player-cell-targeted{
  background-color: red;
  animation-name: computer-cell-targeted;
  animation-duration: 200ms;
  animation-iteration-count: 11;
  animation-direction: alternate;
}
.hit{
  background-color: red;
  text-align: center;
  transition-duration: 200ms;
}
.missed{
  background-color: gray;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: 200ms;
}
.overlay.show{
  opacity: 1;
  pointer-events: all;
}